# HELP.md
/target/
target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/logs/
logs

# properties
application-prod.properties

.env
.env.local
/api/env.local

deploy-funny-app.sh
/api/deploy-funny-app.sh
