{"openapi":"3.0.1","info":{"title":"My API","description":"API with JWT authentication","contact":{"name":"Canh Labs","email":"canh@example.com"},"version":"1.0"},"servers":[{"url":"http://canh-labs.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Actuator","description":"Monitor and interact","externalDocs":{"description":"Spring Boot Actuator Web API Documentation","url":"https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"}}],"paths":{"/v1/funny-app/user/mfa/verify":{"post":{"tags":["user-controller"],"summary":"Verify MFA for user","description":"This endpoint is used to verify the user with MFA enabled. It requires the username and OTP.","operationId":"verify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MfaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoUserInfoDto"}}}}}}},"/v1/funny-app/user/mfa/enable":{"post":{"tags":["user-controller"],"summary":"Enable MFA for user","description":"This endpoint is used to enable MFA for the user. It requires the username, secret, and OTP.","operationId":"enable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnableRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoString"}}}}}}},"/v1/funny-app/user/mfa/disable":{"post":{"tags":["user-controller"],"summary":"Disable MFA for user","description":"This endpoint is used to disable MFA for the user. It requires the username and OTP.","operationId":"disable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisableRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoString"}}}}}}},"/v1/funny-app/user/join":{"post":{"tags":["user-controller"],"summary":"Login/register to system","description":"If user already registered, it will return token. If not, it will register user and return token","operationId":"signIn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoUserInfoDto"}}}}}}},"/v1/funny-app/share-links":{"get":{"tags":["share-link-controller"],"summary":"Get all shared links","description":"Fetches all shared video links.","operationId":"getShareLink","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListInfoVideoDto"}}}}}},"post":{"tags":["share-link-controller"],"summary":"Share a video link","description":"Allows users to share a video link by providing the URL and other details.","operationId":"shareLink","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoVideoDto"}}}}}}},"/v1/funny-app/video-stream/{id}":{"get":{"tags":["video-stream-controller"],"summary":"Get video by ID","description":"Retrieves video metadata by its ID.","operationId":"getVideoStream","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoVideoDto"}}}}}}},"/v1/funny-app/video-stream/stream/{fileId}":{"get":{"tags":["video-stream-controller"],"summary":"Stream video by fileId","description":"Streams a video file in chunks based on the Range header provided by the client.","operationId":"streamVideo","parameters":[{"name":"fileId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Range","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/v1/funny-app/video-stream/list":{"get":{"tags":["video-stream-controller"],"summary":"Get list of videos to stream","description":"Returns a list of video metadata for streaming.","operationId":"getListVideoStream","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListInfoVideoDto"}}}}}}},"/v1/funny-app/user/verify-magic":{"get":{"tags":["user-controller"],"summary":"Verify magic link","description":"This endpoint is used to verify the magic link sent to the user. It requires a token.","operationId":"verifyLink","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoUserInfoDto"}}}}}}},"/v1/funny-app/user/mfa/setup":{"get":{"tags":["user-controller"],"summary":"Setup MFA for user","description":"This endpoint is used to setup MFA for the user. It returns a QR code that can be scanned by an authenticator app.","operationId":"setup","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoSetupResponse"}}}}}}},"/v1/funny-app/user/me":{"get":{"tags":["user-controller"],"summary":"Get current user details","description":"This endpoint is used to get the details of the currently logged-in user.","operationId":"getCurrent","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoUserDetailDto"}}}}}}},"/v1/funny-app/top-videos":{"get":{"tags":["youtube-controller"],"summary":"Get top videos from YouTube","description":"Fetches a list of top videos from YouTube.","operationId":"getTopVideos","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListInfoVideoDto"}}}}}}},"/v1/funny-app/thread/name":{"get":{"tags":["thread-controller"],"operationId":"getThreadName","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/v1/funny-app/thread/load":{"get":{"tags":["thread-controller"],"operationId":"doSomething","responses":{"200":{"description":"OK"}}}},"/v1/funny-app/private-videos":{"get":{"tags":["share-link-controller"],"summary":"Get private shared links","description":"Fetches all private shared video links.","operationId":"getPrivateShareLink","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultListInfoVideoDto"}}}}}}},"/actuator":{"get":{"tags":["Actuator"],"summary":"Actuator root web endpoint","operationId":"links","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}}}}}}},"/actuator/prometheus":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'prometheus'","operationId":"scrape","parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["CONTENT_TYPE_004","CONTENT_TYPE_OPENMETRICS_100","CONTENT_TYPE_PROTOBUF"]}},{"name":"includedNames","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain;version=0.0.4;charset=utf-8":{"schema":{"type":"object"}},"application/openmetrics-text;version=1.0.0;charset=utf-8":{"schema":{"type":"object"}},"application/vnd.google.protobuf;proto=io.prometheus.client.MetricFamily;encoding=delimited":{"schema":{"type":"object"}}}}}}},"/actuator/metrics":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'metrics'","operationId":"listNames","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}},"/actuator/metrics/{requiredMetricName}":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'metrics-requiredMetricName'","operationId":"metric","parameters":[{"name":"requiredMetricName","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Not Found"}}}},"/actuator/info":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'info'","operationId":"info","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}},"/actuator/health":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'health'","operationId":"health","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}},"/v1/funny-app/share-links/{videoId}":{"delete":{"tags":["share-link-controller"],"summary":"Delete a shared link","description":"Deletes a shared video link by its ID.","operationId":"deleteShareLink","parameters":[{"name":"videoId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResultObjectInfoString"}}}}}}}},"components":{"schemas":{"MfaRequest":{"type":"object","properties":{"username":{"type":"string"},"otp":{"type":"string"},"sessionToken":{"type":"string"}}},"ResultObjectInfoUserInfoDto":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserInfoDto"}}},"UserDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"mfaEnabled":{"type":"boolean"}}},"UserInfoDto":{"type":"object","properties":{"jwt":{"type":"string"},"action":{"type":"string"},"sessionToken":{"type":"string"},"user":{"$ref":"#/components/schemas/UserDetailDto"}}},"EnableRequest":{"type":"object","properties":{"username":{"type":"string"},"otp":{"type":"string"},"secret":{"type":"string"}}},"ResultObjectInfoString":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"type":"string"}}},"DisableRequest":{"type":"object","properties":{"username":{"type":"string"},"otp":{"type":"string"}}},"LoginDto":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"ShareRequestDto":{"type":"object","properties":{"url":{"type":"string"},"description":{"type":"string"},"title":{"type":"string"},"private":{"type":"boolean"}}},"ResultObjectInfoVideoDto":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/VideoDto"}}},"VideoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userShared":{"type":"string"},"title":{"type":"string"},"desc":{"type":"string"},"embedLink":{"type":"string"},"urlLink":{"type":"string"},"fileId":{"type":"string"}}},"StreamingResponseBody":{"type":"object"},"ResultListInfoVideoDto":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/VideoDto"}}}},"ResultObjectInfoSetupResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SetupResponse"}}},"SetupResponse":{"type":"object","properties":{"secret":{"type":"string"},"qrCode":{"type":"string"}}},"ResultObjectInfoUserDetailDto":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED"]},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserDetailDto"}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"templated":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}